* {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
	font-size: 10px;
	color: #6E6E6E;
}

img {
  width: 100%;
}

main {
  margin: auto;
}

li {
  list-style: none;
}

.margin-auto {
  margin: auto;
}

.flex-box {
  display: flex;
}

.display-grid {
  width: 90rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 680px 198px;
  grid-template-areas:

    "header-div header-div header-div header-div"
    "iphone-5s iphone-5c 30-years div-responsibility";
  gap: 2px;
}

.header-div {
  flex-direction: column;
  align-items: center;
  background: url("../assets/images/bg-image.jpg") 0.01rem 289rem;
  background-color: burlywood;
  grid-area: header-div;
}

.header-div img {
  width: 60em;
}

.first-image-text {
  margin-top: 15rem;
}

.navbar {
  margin-top: 11.8em;
  flex-direction: row;
  color: aliceblue;
  height: 36px;
  width: 980px;
  background-image: url("../assets/images/nav-gradient.png");
  background-repeat: no-repeat;
  overflow: hidden;
}

.navbar img {
  width: 172px;
  margin-left: -85px;
  
}

.menu-icons {
  flex-direction: row;
  justify-content: center;
}

.div-verse-img {
  overflow: hidden;
  height: 45px;
}

.div-verse-img img {
  margin-top: 0.8rem;
  width: 36rem;
}

.store-text {
  position: relative;
  top: -30px;
}

.mac-text {
  position: relative;
  top: -62px;
}

.ipod-text {
  position: relative;
  top: -94px;
}
.iphone-text {
  position: relative;
  top: -126px;
}
.ipad-text {
  position: relative;
  top: -160px;
}
.itunes-text {
  position: relative;
  top: -192px;
}
.support-text {
  position: relative;
  top: -224px;
}
.search-bar {
  position: relative;
  top: 7.6px;
  background-color: rgba(146, 146, 146, 0.301);
  width: 100px;
  height: 22px;
  border-radius: 25px;
  background-image: url(../assets/icons/search-outline.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  filter: invert();
  
}

