* {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

@font-face {
  font-family: SF-Pro-Text-Regular;
  src: url("../assets/fonts/SF-Pro-Text-Light.otf");
}

footer {
  margin: 20px auto auto auto;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-size: 11px;
  max-width: 1300px;
  color: #6e6e6e;
  justify-content: space-between;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

form {
  position: relative;
}

header {
  position: absolute;
  top: 3%;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: #1890e0;
}

.width-main-text img {
  margin: auto;
  width: 950px;
}

.div-verse-img {
  margin-top: 40px;
  height: 35px;
  overflow: hidden;
}

.div-verse-img img {
  width: 600px;
}

.navbar img {
  width: 172px;
  margin-left: -85px;
}

.menu-icons img {
  margin: auto;
  padding: 0.9rem 2.5rem;
  width: 100px;
  border-right: 1.5px #5e5e5e solid;
}

.div-verse-img img:hover {
  position: relative;
  top: -34.34px;
  cursor: pointer;
}

.flex-box {
  display: flex;
}

.display-grid {
  min-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 650px 1fr;
  grid-template-areas:
    "header-div header-div header-div header-div"
    "iphone-5s iphone-5c 30-years div-responsibility";
  gap: 2px;
}

.header-div {
  flex-direction: column;
  align-items: center;
  background: #b3d9e9 url("../assets/images/bg-image.jpg") center 700px;
  background-size: 100%;
  grid-area: header-div;
}

.first-image-text {
  margin-top: 5rem;
}

.navbar {
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  color: aliceblue;
  height: 36px;
  width: 980px;
  border-radius: 0.2rem;
  background:
    linear-gradient(
      0deg,
      #3C3C3C 0%,
      #7A7A7A 1%,
      #6F6F6F 16%,
      #4F4F4F 45%,
      #505050 48%,
      #5E5E5E 51%,
      #757575 53%,
      #979797 99%,
      #4F4F4F 100%
    );
  font-family: SF-Pro-Text-Regular, "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.83em;
  overflow: hidden;
}

.menu-icons {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-icons span {
  margin: auto;
  padding: 0.6rem 2rem;
  border-right: 1.5px #5e5e5e solid;
}

.menu-icons span:hover,
.menu-icons img:hover {
  background-color: #0000003f;
}

.menu-icons a {
  text-decoration: none;
  color: white;
  -webkit-user-drag: none;
}

.search-bar {
  position: relative;
  top: 6px;
  left: -1rem;
  width: 140px;
  height: 25px;
  border-radius: 25px;
  border-color: #3c3c3c36;
  background-color: #f1f1f16b;
  filter: brightness(65%);
}

.search-icon {
  position: absolute;
  right: 130px;
  top: 12px;
}

.button-img {
  width: 890px;
}

.width-main-text {
  overflow: hidden;
}

.height-main-verse-be {
  margin-top: 100px;
  height: 90px;
}

.height-main-share {
  height: 85px;
}

.flex-row {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inline-heigth {
  min-width: 500px;
}

.inline-heigth p + p {
  line-height: 2rem;
}

.flex-row li {
  padding: 0 0.5rem;
}

.flex-row li + li {
  border-left: 1.1px #747474b4 solid;
}

.hyperlinks-with {
  width: 600px;
}
